*{
    margin: 0;
    padding: 0;
}
body{
    background: #c8e4fc;
}
section{
    width: 80%;
    margin: auto;
}
header{
    margin-top: 20px;
    margin-bottom: 0.3em;
}
header img{
    max-width: 100%;
    float: left;
    margin-bottom: 10px;
}
header .textBox{
    color: #fff;
    background: #50a4fc;
    font-size: 1.75em;
    padding: 15px 15px 20px ;
    font-weight: bold;
}
.menu{
    font-size: 0.9em;
    font-weight: 600;
    padding: 0;
}
.menu li{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    background: #181c64;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 0.3em;
    text-align: center;
}
.menu li a{
    color: #fff;
    text-decoration: none;
}
.menu li a:hover{
    color: #FFFF00;
}
.menu li a:active{
    color: #880000;
}
main{
    background: #50a4fc;
    padding: 60px 0;
    color: #fff;
}
main h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
    margin-left: 10px;
}
main p{
    font-size: 1.15em;
    margin-left: 10px;
}
.textBox{
    line-height: 2em;
}
footer{
    background: #50a4fc;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}
footer hr{
    margin: auto;
    color: #fff;
    margin-bottom: 5px;
}
footer a{
    margin-right: 5px;
}
@media only screen and (min-width: 660px) and (max-width: 830px){
    .menu li{
        display: inline;
        float: left;
        width: 18%;
        margin-left: 1%;
        margin-right: 1%;
        padding-left: 0;
        padding-right: 0;
        font-size: 0.8em;
    }
    main{
        clear: both;
    }
}
@media only screen and (min-width: 830px) {
    body{
        background: linear-gradient(#c8e4fc,#fff);
    }
    section{
        width: 80%;
    }
    header{
        margin-bottom: 0;
    }
    .menu{
        font-size: 1em;
        background: #181c64;
        border-top: solid #000;
        border-bottom: solid #000;
        padding: 0;
    }
    .menu li{
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        list-style: none;
        margin-left: 0;
        margin-right: 0;
        padding: 0.7em;
        border-radius: 0;
        width: 20%;
        
    }
    .menu li a{
        display: inline-block;
        padding: 1em;
    }
}
@media (min-width: 1690px){
    .menu li{
        padding: 0 5em;
    }
}